.info {
    display: grid;
    grid-template-areas: "name avatar" "description avatar";
    grid-template-columns: 8fr 4fr;
    grid-template-rows: 20% 80%;
}

.name {
    grid-area: name;
    margin: 15px;
    font-family: 'Barbie Display', 'Raleway', 'Montserrat', 'Roboto', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 90px;
}

.description {
    grid-area: description;
    margin: 15px;
    line-height: 150%;
    white-space: pre;
}
