.header {
    grid-area: header;
    background-color: #8e5678;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
    font-family: 'Barbie Display', serif;
}
