.wrapper {
    /*background: #f3eef0;*/
    padding: 10px;
}

.input {
    border: 3px solid #eedcd8;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition: 0.5s;
    outline: none;
    display:inline-block;
}

.input:focus {
    border: 3px solid #8e5678;
}

.button {
    width: 100%;
    background: #8e5678;
    color: #ffffff;
    font-family: 'Raleway', 'Montserrat', 'Roboto', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:focus {
    border: none;
}
