.App {
    display: grid;
    height: 100vh;
    grid-template-areas: "nav header empty" "nav content empty" "footer footer footer";
    grid-template-rows: 60px 1fr 30px;
    grid-template-columns: 2fr 8fr 2fr;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-empty {
    grid-area: empty;
    background: #cdb5c3;
}
