@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

@font-face {
    font-family: 'Barbie Display';
    src: url('./fonts/barbie.ttf');
    src: local('Barbir Display Regular'), local('BarbieDisplay-Regular'),
    url('./fonts/barbie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Raleway', 'Montserrat', 'Roboto', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
